/* override */
p {
  margin: 0;
}
  .top-bar .top-bar-left,
  .top-bar .top-bar-right {
    width: auto; }
/* top bar */
.top-bar {
  background: #2C3E50;
  padding: 0;
}
.top-bar .menu-text {
  display: block;
  color: #FFF;
  padding: 1.1rem;
  font-size: 1.4rem;
}
.top-bar .menu-logo {
  display: block;
  color: #FFF;
  padding: 4px;
}
.top-bar .menu-logo img {
  height: 48px;
}
.top-bar .menu {
  background: none;
}
.top-bar .menu li a {
  color: #fff;
  padding: 1.25rem 1rem;
}
.top-bar .menu li a.button {
  color: #fff;
  padding: 0.55rem;
  margin: 0.6rem;
}
.top-bar .main-menu > li i {
  vertical-align: -1px;
}
.top-bar .main-menu > li > a:hover, .top-bar .main-menu li a:active {
  background: #1C2E40;
}
.top-bar .sub-menu {
  width: 240px;
  background: #fff;
  border-top: none;
}
.top-bar .sub-menu li a{
  color: #333;
}
.top-bar .sub-menu > li > a:hover {
  background: #d1d1d1;
}

.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #ffffff transparent transparent;
}

/* override */
.callout {
  border-color: #E8E8E8;
}
.clearpam {
  padding: 0 !important;
  margin: 0 !important;
}
.button {
  border-radius: 4px;
}
a {
  color: #2780E3;
}
/* structure */
body {
  color: #6B6B6B;
  background-color: #F2F2F2;
}
/* add-on */
.block-link {
  padding: 0.5rem;
  display: block;
}
.block-link .badge {
  padding: 0.5rem;
  font-size: 1rem;
}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
.callout.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  padding: 0;
  }
  .card .header {
    padding: 1rem;
    margin: 0;
    background: #e0e0e0;
    font-size: 1rem;
  }
  .card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .card .block {
    background: #ffffff;
    padding: 1rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    margin: 0; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card .action a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
  .card .image {
    position: relative; }
    .card .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff; }
    .card .image img {
      border-radius: 2px 2px 0 0; }
/* other */
.sticky-post {
border: 1px solid #FFCCBC;
}
.private-post {
border: 1px solid #C5CAE9;
}
.text-muted {
  color: #818a91;
}
.description {
  color: #4a4a4a;
}

ul.category li a{
//  padding: 1rem;
  border-bottom: 1px solid #E8E8E8;
  color: #5a5a5a;
}
ul.category .badge {
    margin-right: 0.5rem;
    width: 2em;
    height: 2em;
    padding: 0.4em 0;
    font-size: 1.25rem;
}
ul.category li a .fa {
  margin: 0;
}
.post-item-text {
  padding-top: 1rem;
}
.post-item-title, .single-post-title {
  color: #2780E3;
  font-weight: bold;
  font-size: 1.1rem;
}
.post-item-meta, .single-post-meta {
  font-size: 0.8rem;
  color: #818a91;
}
.post-item-description {
  font-size: 0.9rem;
  color: #4a4a4a;
}
.p-l-1 {
  padding-left: 1rem;
}
.single-post {
  background: #ffffff;
  border: 1px solid #e8e8e8;
}
.single-post-content {
  word-wrap: break-word;
}
.single-post-content img {
  max-width: 100%;
}
.single-post .single-post-text {
  padding: 1rem;
}
.single-post-title {
  font-size: 1.25rem;
}
@media screen and (min-width: 40em) {
  .post-list .post-item-text {
    padding-top: 0;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 39.9375em) {
  .s-m-x {
    margin: 1rem;
  }
  .small-padding-left {
    padding-left: 1rem;
  }
}
@media only screen and (max-width: 40em) {
/* line 158, ../bower_components/foundation/scss/foundation/components/_reveal.scss */
.reveal {
height: auto;
min-height: auto;
}
}
